/* Profile Page Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --primary-color: #c0b93d;
    --secondary-color: #d8e9a8;
    --background-color: #fafafa;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --input-focus-color: #a4b494;
  }

  body {
    background: url("../images/cover_img.png") no-repeat center
      center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
  }

  nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    z-index: 3;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  li {
    margin: 0 15px;
  }

  a,
  button {
    color: var(--primary-color);
    text-decoration: none;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  a:hover,
  button:hover {
    color: var(--secondary-color);
  }

  #loginStatus {
    font-size: 1.2em;
    position: fixed;
    top: 55px;
    left: 20px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
  }

  main {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 10px var(--box-shadow-color);
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
  }

  h1 {
    margin: 20px;
  }

  .infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
  }

  .infoRow span:first-child {
    font-weight: 600;
    color: var(--text-color);
    margin-right: 10px;
    flex: 1;
  }

  .infoRow span:last-child {
    font-weight: 400;
    color: var(--text-color);
    word-wrap: break-word;
    flex: 3;
  }

  #ethPriceBox,
  #avaxPriceBox {
    position: fixed;
    right: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 10px var(--box-shadow_color);
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  #ethPriceBox {
    top: 120px;
    border: 1px solid gold;
  }

  #avaxPriceBox {
    top: 200px;
    border: 1px solid #002f86;
  }

  button {
    padding: 7px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--secondary-color);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    width: 100%;
    min-width: 170px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .dropdown-menu li:last-child {
    border-bottom: none;
  }

  .dropdown-menu a {
    color: var(--primary-color);
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    color: var(--secondary-color);
  }